# Database files
*.json

# Pinecone Operation Files
# Huberman Files
backend/DataSources/Huberman/
backend/DataSources/content_aggregation.py

# Pycache
backend/__pycache__/
backend/DataSources/__pycache__/
backend/RAG/__pycache__/

# Node Modules
node_modules/

# Shared DB
shared/user_state.json
shared/config.json