# Pinecone Operation Files
# Huberman Files
agentic_interface/DataSources/Huberman/
agentic_interface/DataSources/Goggins/
agentic_interface/DataSources/recent_papers_sleep_fitness_productivity.json
agentic_interface/DataSources/content_aggregation.py
agentic_interface/evals
agentic_interface/database/__pycache__/user_db_call.cpython-311.pyc

# SFT Files
SFT/

# Test Views
web/views/chat_page_2.ejs

# Pycache
agentic_interface/__pycache__/
agentic_interface/DataSources/__pycache__/
agentic_interface/Agentic_RAG/__pycache__/
agentic_interface/RAG/__pycache__/
agentic_interface/database/__pycache__/
agentic_interface/config/__pycache__/

# RAG Version
agentic_interface/main.py
agentic_interface/RAG/*
agentic_interface/DataSources/custom_api_key_error.py

# Node Modules
node_modules/

# Config -> moved to env files
config/*

# Shared DB
shared/user_state.json

# env files
agentic_interface/.env
web/.env

# Local Run Bashes
agentic_interface/run_agent.sh
web/start_web.sh